attrs==17.3.0
climenu==1.6.0
geopy==1.11.0
numpy==1.13.3
pandas==0.21.1
pluggy==0.6.0
prompt==0.4.1
py==1.5.2
py-cpuinfo==3.3.0
pytest==3.3.1
pytest-benchmark==3.1.1
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
Rx==1.6.0
six==1.11.0
